<head>
<style>
body {
background-image: url("https://wallpapercave.com/wp/HVc930O.jpg");
background-size: cover;
background-position: center;
background-attachment: fixed;
}

div {
  padding-left: 15px;
}
</style>
</head>

<body>
  <div class="container-fluid text-center">
    <br/><br/>

  <h3 class="text-warning text-center"><%= @major.title %> Major</h3><br/>
  <h5 class="text-white text-center"><%= @major.description %></h5>
<br/><br/>
  <h3 class="text-warning text-center">Requirements:</h3><br/>
  <% @major.courses.each do |course| %>
    <h5><%= link_to course.title, course_path(course) %></h5><br/>
  <% end  %>
  </div>
</body>
