<head>
<style>
body {
background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT2O0OL6PgAAxdWqeqOVcqltENgV2fD4pJFw-IDjQ2vjBxrmv4_");
background-size: cover;
background-position: center;
background-attachment: fixed;
}
div {
  padding-left: 15px;
}
</style>
</head>

    </div>

<br/><br/>

  <div class="container-fluid">

    <h3 class="text-white">Welcome back, Professor <%= @professor.full_name %>.</h3>
    <br/><br/>

<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <p class="text-warning"><%=  error %></p>
  <% end %>
<% end %>
<br/><br/>

<h4 class="text-white">These are your current courses: </h4>
<br/><br/>

<% @professor.courses.each do |course| %>
    <p class="lead"><a href="<%= "/professors/#{@professor.id}/#{course.id}" %>"><%= course.title %></a></p><br/><br/>
<% end %>

</div>

<% flash.clear %>
