<head>
<style>
body {
background-image: url("https://wallpapercave.com/wp/HVc930O.jpg");
background-size: cover;
background-position: center;
background-attachment: fixed;
}
</style>
</head>

<body>
  <div class="container-fluid">
    <br/><br/>
    <h2 class="text-warning text-center">Courses</h2>
    <br/><br/>
<% @courses.each do |course| %>
    <h5 class="text-center"><%= link_to course.title, course_path(course) %></h5><br/>
<% end %>
</div>
</body>
